/home/geezer/Projects/SystemInfo/SystemInfo/obj/rider.project.model.nuget.info
/home/geezer/Projects/SystemInfo/SystemInfo/obj/rider.project.restore.info
/home/geezer/Projects/SystemInfo/SystemInfo/.idea/.idea.SystemInfo.dir/.idea
